body {
	text-align: center;
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

ul {
	text-align: left;
}

#wrapper {
	display: inline-block;
}

#history {
	min-width: 400px;
}
